body {
  background-image: url("C:\dev\web\eproduct-tracker-frontend\public\red_purple.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.card {
  background-image: url("C:\dev\web\eproduct-tracker-frontend\public\rainbow.webp") ;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}